@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas.eot');
    src: url('fonts/bebas.eot') format('embedded-opentype'),
         url('fonts/bebas.woff2') format('woff2'),
         url('fonts/bebas.woff') format('woff'),
         url('fonts/bebas.ttf') format('truetype'),
         url('fonts/bebas.svg#bebas') format('svg');
}
