@font-face {
    font-family: 'Nexa';
    src: url('NexaBold.eot');
    src: url('NexaBold.eot?#iefix') format('embedded-opentype'),
        url('NexaBold.woff2') format('woff2'),
        url('NexaBold.woff') format('woff'),
        url('NexaBold.ttf') format('truetype'),
        url('NexaBold.svg#NexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

